$body-bg: #e8e6e1;
$secondary-color: #e8500e;
$secondary-hover: #b63a05;
$third-color: #9b5433;
$text-color: #748796;
$header-color: #131925;
$food-bg: #fcfbf9;
$main-font: "Montserrat";
$text-font: "Karla";
$suptitle-font: "Allura";
$second-font: "Noto Serif";
